<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="menunavbar">
      <div class="wrapper">
<div class="title_alex">
    <div style="font-size: 24px;margin-top:-7px;" class="href_title"><a href="http://agaillard.eu">Alexandre Gaillard</a></div>
     <!--<div style="font-size: 12px;padding-bottom: 10px;opacity:0.8;">PhD Candidate, Toulouse School of Economics</div>-->
</div>
<div class="nav_alex">
  <a href="http://agaillard.eu/research/">Research</a>
  <a href="http://agaillard.eu/quant_econ/">Computing</a>
  <a href="http://agaillard.eu/teaching_graduate/">Teaching</a>
  <a target="_blank" href="http://agaillard.eu/CV-English.pdf">Vitae</a>
  <a href="http://agaillard.eu"><img src="http://agaillard.eu/home-2-xxl.png" style="width:16px;padding-top:3px;margin-bottom:-3px;"/></a>
</div>
</div>
</div>
  
      <section2>
<div class="wrapper">
      {{ content }}
</div>
      </section2>
      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
