<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
<div style=" /* margin-top:-20px; */; /* background-color:#333; */; /* padding: 10px 10px 10px 10px; */; /* padding-left:10px; */; /* border-bottom:2px solid #333; */ width=100%;/* widt; padding-bottom: initial;om: 20px; */2;;/* padding-bottom: 2; *//* padding-bottom: 20; */; /* padding-bottom: 20p; */; padding-bottom: 20px;height: 30px;">
<div style=" float:left;font-size: 24px;padding-bottom: 10px;;font-size: 24px;color: #333;">Alexandre Gaillard</div>
<div style="float:right;margin-top:10px;">
  <a style="color: #000" href="/index/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="color: #000" href="/research/">Research</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="color: #000" href="/computing/">Computing</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="color: #000" href="/teaching/">Teaching</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a style="color: #000" target="_blank" href="/CV-English.pdf">Vitae</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>
    <hr>
      <section2>

      {{ content }}

      </section2>
      </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
